
<!-- hero section start -->

<section id="hero">
  <h4>Trade-in-Offer</h4>
  <h2>Super value deals</h2>
  <h1>On all products</h1>
  <p>Save more with coupons & up to 70% off!</p>
 <a routerLink="/shop"><button>Shop Now</button></a>
</section>

<!-- hero section end -->


<!-- feature section start -->

<section id="feature" class="section-p1">
  <div class="fe-box">
      <img src="../../assets/img/features/f1.png" alt="">
      <h4>Free Shipping</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f2.png" alt="">
      <h4>Online Order</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f3.png" alt="">
      <h4>Save Money</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f4.png" alt="">
      <h4>Promotions</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f5.png" alt="">
      <h4>Happy Sale</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f6.png" alt="">
      <h4>F24/7 Support</h4>
  </div>
</section>
<!-- feature section end -->



<!-- Products section start here -->

<section id="product1" class="section-p1">
<h2>Featured Products</h2>
<p>Summer collection New Modern Desighn</p>

<div class="pro-container">
   <div class="pro">
       <img src="../../assets/img/products/f1.jpg" alt="">
<div class="des">
<span>adidas</span>
<h5>Cartoon AtronautvT-Shirts</h5>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>

</div>
<h4> $78 </h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart"></i></a>

   </div>
   <div class="pro">
       <img src="../../assets/img/products/f2.jpg" alt="">
<div class="des">
<span>adidas</span>
<h5>Cartoon AtronautvT-Shirts style-2</h5>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>

</div>
<h4> $78 </h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart"></i></a>

   </div>
   <div class="pro">
       <img src="../../assets/img/products/f3.jpg" alt="">
<div class="des">
<span>adidas</span>
<h5>Cartoon AtronautvT-Shirts style-3</h5>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>

</div>
<h4> $78 </h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart"></i></a>

   </div>
   <div class="pro">
       <img src="../../assets/img/products/f4.jpg" alt="">
<div class="des">
<span>adidas</span>
<h5>Cartoon AtronautvT-Shirts style-4</h5>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>

</div>
<h4> $78 </h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart"></i></a>

   </div>
   <div class="pro">
       <img src="../../assets/img/products/f5.jpg" alt="">
<div class="des">
<span>adidas</span>
<h5>Ladies AtronautvT-Top</h5>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>

</div>
<h4> $108 </h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart"></i></a>

   </div>
   <div class="pro">
       <img src="../../assets/img/products/f6.jpg" alt="">
<div class="des">
<span>adidas</span>
<h5>Ladies AtronautvT-Top style-2</h5>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>

</div>
<h4> $70 </h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart"></i></a>

   </div>
   <div class="pro">
       <img src="../../assets/img/products/f7.jpg" alt="">
<div class="des">
<span>adidas</span>
<h5>Ladies AtronautvT-Trouser</h5>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>

</div>
<h4> $95 </h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart"></i></a>

   </div>
   <div class="pro">
       <img src="../../assets/img/products/f8.jpg" alt="">
<div class="des">
<span>adidas</span>
<h5>Ladies AtronautvT-Top style-3</h5>
<div class="star">
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>

</div>
<h4> $112 </h4>
</div>
<a href="#"><i class="fal fa-shopping-cart cart"></i></a>

   </div>
</div>


</section>

<!-- First Banner -->


<section id="banner" class="section-m1">

   <h2>Up To <span>70% off</span>- All t-Shirts & Accessories</h2>
<button class="normal">Explore More</button>

</section>



<!-- second Prodect -->




<section id="product1" class="section-p1">
   <h2>New Arrival</h2>
   <p>Summer collection New Modern Desighn</p>

   <div class="pro-container">
       <div class="pro">
           <img src="../../assets/img/products/n1.jpg" alt="">
   <div class="des">
   <span>adidas</span>
   <h5>Men Atronaut Shirts</h5>
   <div class="star">
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>

   </div>
   <h4> $79 </h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

       </div>
       <div class="pro">
           <img src="../../assets/img/products/n2.jpg" alt="">
   <div class="des">
   <span>adidas</span>
   <h5>Men Atronaut Shirts style-2</h5>
   <div class="star">
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>

   </div>
   <h4> $68 </h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

       </div>
       <div class="pro">
           <img src="../../assets/img/products/n3.jpg" alt="">
   <div class="des">
   <span>adidas</span>
   <h5>Men Atronaut Shirts style-3</h5>
   <div class="star">
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>

   </div>
   <h4> $114 </h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

       </div>
       <div class="pro">
           <img src="../../assets/img/products/n4.jpg" alt="">
   <div class="des">
   <span>adidas</span>
   <h5>Men Atronaut Shirts style-4</h5>
   <div class="star">
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>

   </div>
   <h4> $103 </h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

       </div>
       <div class="pro">
           <img src="../../assets/img/products/n5.jpg" alt="">
   <div class="des">
   <span>adidas</span>
   <h5>Men Atronaut Shirts styel 5</h5>
   <div class="star">
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>

   </div>
   <h4> $108 </h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

       </div>
       <div class="pro">
           <img src="../../assets/img/products/n6.jpg" alt="">
   <div class="des">
   <span>adidas</span>
   <h5>Men Atronaut Shorts</h5>
   <div class="star">
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>

   </div>
   <h4> $71 </h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

       </div>
       <div class="pro">
           <img src="../../assets/img/products/n7.jpg" alt="">
   <div class="des">
   <span>adidas</span>
   <h5>Men Atronaut Shirts style-6</h5>
   <div class="star">
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>

   </div>
   <h4> $97 </h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

       </div>
       <div class="pro">
           <img src="../../assets/img/products/n8.jpg" alt="">
   <div class="des">
   <span>adidas</span>
   <h5>Men Atronaut Shirts style-7</h5>
   <div class="star">
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>
   <i class="fas fa-star"></i>

   </div>
   <h4> $112 </h4>
   </div>
   <a href="#"><i class="fal fa-shopping-cart cart"></i></a>

       </div>
   </div>


   </section>


<!-- Second banner -->



<section id="sm-banner" class="section-p1">

<div class="banner-box">
   <h4>crazy deals</h4>
   <h2>buy 1 get 1 free</h2>
   <span>The best classic dress is on sale cara</span>
   <button class="white">Learn More</button>
</div>
<div class="banner-box banner-box2">
   <h4>Spring/Summer</h4>
   <h2>Upcomming season</h2>
   <span>The best classic dress is on sale cara</span>
   <button class="white">Learn More</button>
</div>
</section>

<!-- Third banner  -->

<section id="banner3">
   <div class="banner-box">
       <h2>SEASONAL SALE</h2>
       <h3>Winter Collection -50% OFF</h3>
   </div>
   <div class="banner-box banner-box2">
       <h2>Upcomming season</h2>
       <h3>Spring/Summer</h3>
   </div>
   <div class="banner-box banner-box3">
       <h2>Upcomming season</h2>
       <h3>Spring/Summer</h3>
   </div>

</section>


<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
      <h4>Sighn Up For Newsletter</h4>
<p>
  Get E-mail updates about our latest shop and <span>special offers.</span>
</p>

<div class="form">
  <input type="text" placeholder="Your Email address">
  <button class="normal">Sighn Up</button>
</div>


  </div>
</section>


















































































