
<!-- hero section start -->

<section id="hero">
  <h2>#KnowUs</h2>
  <p>Read all case studies about our shop!</p>
</section>


<!-- hero section end -->



<!-- about page -->

<section class="section-p1" id="about-head">

<img src="../../assets/img/about/a6.jpg" alt="">
<div>
  <h2>Who We Are?</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum veritatis corrupti ipsam, nam vel inventore facere vero doloremque deserunt maxime quia tenetur. Quasi reiciendis numquam repellendus maiores quae cum rem tenetur. Eum ipsa sint et voluptatibus dolore, tempore perferendis cumque doloribus, eaque enim nam consequuntur veritatis quo deserunt, porro provident! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ea quis minus culpa commodi aspernatur, molestias aliquid omnis perferendis nemo debitis harum nobis a dolorum ad quas fugiat non veritatis!</p>
  <abbr title="">Create Stunning images with as much or as little control as you like think to a choice of basic and creative modes.</abbr>
  <br><br>
  <marquee bgColor="#ccc" loop="-1" width="100%" scrollAmount="5">Create Stunning images with as much or as little control as you like think to a choice of basic and creative modes.</marquee>
</div>
</section>



<Section id="about-app" class="section-p1">
  <h1>Download Our App</h1>
  <div class="video">
      <video autoplay muted loop src="../../assets/img/about/1.mp4"></video>
  </div>
</Section>


<!-- feature section start -->

<section id="feature" class="section-p1">
  <div class="fe-box">
      <img src="../../assets/img/features/f1.png" alt="">
      <h4>Free Shipping</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f2.png" alt="">
      <h4>Online Order</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f3.png" alt="">
      <h4>Save Money</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f4.png" alt="">
      <h4>Promotions</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f5.png" alt="">
      <h4>Happy Sale</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f6.png" alt="">
      <h4>F24/7 Support</h4>
  </div>
</section>
<!-- feature section end -->




<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
      <h4>Sighn Up For Newsletter</h4>
<p>
  Get E-mail updates about our latest shop and <span>special offers.</span>
</p>

<div class="form">
  <input type="text" placeholder="Your Email address">
  <button class="normal">Sighn Up</button>
</div>


  </div>
</section>





