


<section id="header">
    <a routerLink="home"><img src="../../assets/img/logo.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
           <li><a routerLink="/home">Home</a></li>
           <li><a routerLink="/shop">Shop</a></li>
           <li><a routerLink="/blog">Blog</a></li>
           <li><a routerLink="/about">About</a></li>
           <li><a routerLink="/contact">Contact</a></li>
           <li><a routerLink="/contact">Sign in</a></li>
    <li><a href=""><i class="far fa-shopping-bag"></i></a>
    </li>
        </ul>
    </div>
    <div id="mobile">
        <a href=""><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>

    </section>



